@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap');

:root {
    --bs-body-bg: #FAFAFA;
    --display-color: #404258;
    --primary-color: #50577A;
    --secondary-color: #474E68;
    --primary-color-highlight: #BB86FC;
    --secondary-color-highlight: #6B728E;
    --symbols-color: #E7D3FF;
    --numbers-color: #FFFFFF;
    --bs-body-font-family: Poppins;
}

/* Main Style */

.calculator {
    max-width: 375px;
    height: 812px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--display-color);
}

.calculator__display {
    width: 100%;
    min-height: 342px;
    box-sizing: border-box;
    background-color: var(--display-color);
}

.calculator__display .calculating {
    width: 100%;
    height: 100%;
    border: none;
    direction: rtl;
    font-size: 44px;
    font-weight: 500;
    color: var(--numbers-color);
    background-color: var(--display-color);
}

/* Buttons Style */

.calculator__keys {
    height: 100%;
}

.calculator__keys .key--operator,
.key--plus, .sci_calc, .number, .equal, .all_clear {
    aspect-ratio: 1;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    border: 0.5px solid var(--display-color);

}

.calculator__keys  button:hover {
    background-color: var(--secondary-color-highlight);
}


/* Symbols */

.calculator__keys .key--operator, .all_clear {
    color: var(--symbols-color);
    background-color: var(--primary-color);
}

.calculator__keys .key--plus, .equal {
    color: var(--numbers-color);
    background-color: var(--primary-color-highlight);
}

.calculator__keys .all_clear {
    border-radius: 25px 0px 0px 0px;
}

.calculator__keys .division {
    border-radius: 0px 25px 0px 0px;
}

/* Numbers */

.calculator__keys .number, .sci_calc  {
    color: var(--numbers-color);
    background-color: var(--secondary-color);
}

@media screen and (max-width: 240px) {
    .calculator {
        position: absolute;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);

    }
}




